<div class="container-fluid">

  <div class=" row ">

    <div class="col-lg-6 p-0 ">
      <img src="assets/registrati.png" class="img-fluid  image w-100 h-100" alt="...">
    </div>
    <div class="col-lg-6 mt-5 p-0">

      <div class="text-center mt-4">
        <h1>REGISTRATI</h1>
      </div>
      <div class=" d-flex justify-content-center align-content-center">
        <div class=" col-lg-6 col-md-5 col-sm-6 pt-3 ">
           <form [formGroup]="formGroup"  >
            <div   *ngFor="let elem of formD.form">
               <app-input_text [elem]="elem" [formGroup]="formGroup"  [submit]="submit"></app-input_text>
            </div>
              <div class="d-flex pt-4 justify-content-center align-items-center flex-column">
              <button class="mt-5 btn-primary btn w-75 py-2 text-center"
                     (click)="newRegister()"
                      type="submit">Registrati
              </button>
            </div>
           </form>
        </div>
      </div>
    </div>
  </div>

</div>
