<div class="container-fluid">
  <h1 class="mt-4 mx-auto text-center fw-bolder"> {{this.is_url_ceck() == "Visualizza" || this.is_url_ceck() =="Modifica"?'Paziente': "Nuovo Testo"}}</h1>
   <form  [formGroup]="formGroup" >
      <div class=" mt-1 "  *ngFor="let elem of formD.form">
        <app-text-area [submit]="this.submit" [formGroup]="formGroup" [elem]="elem"></app-text-area>
      </div>
        <div class="d-flex  mb-5 justify-content-center ">
            <div class="flex-column-reverse mt-4">
               <button class="btn btn-primary ps-4 pe-4  " type="submit" (click)="creaTesto()">
                <span class="h6">{{this.is_url_ceck() == "Visualizza"?"Modifica": (!this.is_modifica?  "Crea": "Conferma Modifica ")}} Testo</span></button>
              <button *ngIf="is_modifica" class="btn btn-secondary ps-4 pe-4 ms-4 btn_annulla " type="submit" (click)="annulla_modifiche()">
              <span class="h6">Annulla</span></button>
            </div>
         </div>
    </form>
</div>
