.hero {
  height: 70vh; /* Altezza del hero element uguale all'altezza della pagina */
  width: 100vw; /* Larghezza del hero element uguale alla larghezza della pagina */
  position: absolute; /* Posizionamento assoluto rispetto all'elemento padre */
  top: 0; /* Allinea il hero element all'inizio della pagina */
  left: 0; /* Allinea il hero element alla sinistra della pagina */
  background-size: cover; /* Riempi l'intero contenitore con l'immagine */
  background-position: center; /* Posiziona l'immagine al centro */
  background-repeat: no-repeat; /* Non ripetere l'immagine */
  display: flex; /* Per allineare il contenuto al centro */
  justify-content: center; /* Allinea il contenuto al centro orizzontalmente */
  align-items: center; /* Allinea il contenuto al centro verticalmente */
  z-index: -1;
}

.hero-container{
   display: flex;

}

.text-hero {
  color: white;
}

.word-hero {
  font-weight: bold;
  font-family: serif, "Rage Italic";
  font-style: oblique;
}

