<div [formGroup]="formGroup" class="w-100 mt-1 ">
  <label  for="patologia" class="form-label mt-3 text-start">
    <span class="fw-semibold">Patologie</span>
    <span class="ps-1 text-danger ">*</span>
  </label>

  <div class="dropdown border border-1 border-dark rounded">
    <button  id="patologia" (click)="selectPatologia()" class="btn bg-white  border border-1 w-100 text-start "
            type="button" data-bs-toggle="dropdown" aria-expanded="false">
     <span class="dropdown-toggle position-absolute me-3 end-0 "></span>
      <span class="d-flex flex-wrap" *ngIf="(formGroup.get('patologie')?.value).join(', ') != 'Patologie' ">
        <span  *ngFor="let p of (formGroup.get('patologie')?.value)"  class="me-1 pt-1 bg-body-tertiary">
          <span class="border border-1 pe-1 ps-1 border-dark rounded  ">
            <fa-icon class="pe-1 ps-1" [icon]="faClose" (click)="removeSelect(p)" onKeyDown=""></fa-icon>{{p}}</span>
        </span>
      </span>
      <span *ngIf="formGroup.get('patologie')?.value[0] == 'Patologie'">{{formGroup.get('patologie')?.value[0]}}</span>

    </button>
    <ul class="dropdown-menu w-100 " [ngClass]="{'show': this.clickablePatologia}">
      <li class="input-group pb-2">
        <input type="text" class="form-control rounded-0 " formControlName="search"  placeholder="Cerca..." >
      </li>
      <li  *ngFor="let pa of this.terapistaService.patologie">
        <a class="dropdown-item " [id]="pa" (click)="selectItemPatologia(pa)" >{{pa}}</a>
      </li>
    </ul>
  </div>
</div>
