.image-container img {
  object-fit: cover;
}
.text-underline{
  text-decoration: underline;
}
.image{
  height: 91.6vh !important;
}

/* target devices with small screens usually mobile devices */
@media screen and (max-width: 1000px) {
  .image {
    width: 0 !important;
    height: 0 !important;
  }
}

.cursor_link{
  cursor: pointer;
}



